<a href="https://colab.research.google.com/github/Roudranil/competitions/blob/main/tps_march_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#1. libraries and dataset

In [ ]:
!pip install category_encoders

In [ ]:
!pip install catboost

In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import StratifiedKFold, cross_val_score
from sklearn.ensemble import RandomForestClassifier

from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

In [34]:
from sklearn.metrics import roc_auc_score

In [23]:
traindata = pd.read_csv("/content/drive/MyDrive/data/kaggle_tabplayground_mar/train.csv", index_col=0)
testdata = pd.read_csv("/content/drive/MyDrive/data/kaggle_tabplayground_mar/test.csv", index_col=0)
submission = pd.read_csv("/content/drive/MyDrive/data/kaggle_tabplayground_mar/sample_submission.csv", index_col=0)

In [24]:
traindf = traindata.copy()
testdf = testdata.copy()

#2. encoding

In [25]:
traindf.drop(columns=['cat5', 'cat13', 'cont2', 'cont7', 'cont10'], inplace=True)
testdf.drop(columns=['cat5', 'cat13', 'cont2', 'cont7', 'cont10'], inplace=True)

In [11]:
numcols = [col for col in traindf.columns if traindf[col].dtype != 'object']
catcols = [col for col in traindf.columns if col not in numcols]

In [13]:
for col in catcols:
    print(col, "\t", traindf[col].nunique())

cat0 	 2
cat1 	 15
cat2 	 19
cat3 	 13
cat4 	 20
cat6 	 16
cat7 	 51
cat8 	 61
cat9 	 19
cat10 	 299
cat11 	 2
cat12 	 2
cat14 	 2
cat15 	 4
cat16 	 4
cat17 	 4
cat18 	 4

In [30]:
catcols2 = ['cat0', 'cat11', 'cat12', 'cat14', 'cat15', 'cat16', 'cat17', 'cat18']
catcols3 = [col for col in catcols if col not in catcols2]

In [36]:
X = traindf.drop(columns=['target'])
y = traindf['target']

In [27]:
from category_encoders.one_hot import OneHotEncoder
onehot = OneHotEncoder(cols = catcols2, return_df=True, handle_unknown=0, drop_invariant=True)
X = onehot.fit_transform(X)
testdf = onehot.transform(testdf)

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [32]:
kf = StratifiedKFold(shuffle=True, random_state=42)

In [33]:
from category_encoders.target_encoder import TargetEncoder

In [46]:
ind = kf.split(X=np.zeros(300000), y=y)
scores = []

for tr_ind, val_ind in ind:
    X_tr, X_val = X.iloc[tr_ind], X.iloc[val_ind]
    y_tr, y_val = y.iloc[tr_ind], y.iloc[val_ind]

    enc = TargetEncoder(cols=catcols3, return_df=True, handle_unknown=y.mean())
    X_tr = enc.fit_transform(X_tr, y_tr)
    X_val = enc.transform(X_val)

    lgbm = LGBMClassifier()
    lgbm.fit(X_tr, y_tr)
    pred = lgbm.predict_proba(X_val)[:, 1]
    scores.append(roc_auc_score(y_val, pred))

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [47]:
scores

[0.8876715063004289,
 0.888103496894598,
 0.8894566805749728,
 0.8881404017678868,
 0.8899232154608159]

In [ ]:
enc = TargetEncoder(cols=catcols3, return_df=True, handle_unknown=y.mean())
X = enc.fit_transform(X, y)
testdf = enc.transform(testdf)

In [67]:
X.to_csv("X.csv")

In [68]:
testdf.to_csv("test.csv")

In [ ]:
lgbm.fit(X, y)

In [65]:
xgbc = XGBClassifier()
xgbc.fit(X, y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

#3. feature generation

In [ ]:
X = pd

In [77]:
from sklearn.decomposition import PCA
pca = PCA(20)
X = pd.DataFrame(pca.fit_transform(X), index=X.index)
testdf = pd.DataFrame(pca.transform(testdf), index=testdf.index)

ValueError: ignored

In [82]:
X

              0         1         2   ...        17        18        19
id                                    ...
0      -0.729142  0.191556 -0.476783  ... -0.172886 -0.064149  0.145778
1       1.185771 -0.117212 -0.264304  ... -0.209603 -0.261265 -0.015194
2      -0.900448  0.191127 -0.920998  ...  0.050402  0.071898  0.030822
3      -0.772144  0.108224 -0.491037  ...  0.135084 -0.105393 -0.105561
4       0.640608 -0.513696 -0.157929  ... -0.128521 -0.116725  0.081548
...          ...       ...       ...  ...       ...       ...       ...
499993  1.374619 -0.181054  0.091510  ...  0.070285  0.126656 -0.139464
499995 -0.202998 -0.926012 -0.618774  ... -0.050467  0.068633  0.114201
499996  2.094385  0.232467  0.219346  ...  0.258292  0.147791 -0.031599
499997 -0.550067  0.789874  0.887389  ... -0.182035  0.288640  0.275807
499999 -0.775508  0.121851 -0.521537  ... -0.031311 -0.050216 -0.045490

[300000 rows x 20 columns]

In [84]:
X.describe()

                 0             1   ...            18            19
count  3.000000e+05  3.000000e+05  ...  3.000000e+05  3.000000e+05
mean  -9.416727e-17  3.304070e-18  ...  9.300014e-18 -1.736128e-16
std    1.020277e+00  6.083420e-01  ...  1.310957e-01  1.222416e-01
min   -1.386353e+00 -1.156541e+00  ... -5.575414e-01 -5.037221e-01
25%   -7.588083e-01 -5.074915e-01  ... -8.985158e-02 -8.267030e-02
50%   -2.030325e-01  1.915464e-01  ... -1.027320e-02 -3.145579e-03
75%    6.913588e-01  3.232120e-01  ...  7.989622e-02  7.652501e-02
max    2.406330e+00  1.765964e+00  ...  6.826537e-01  6.962313e-01

[8 rows x 20 columns]

# Submission

In [50]:
submission['target'] = lgbm.predict_proba(testdf)[:, 1]

In [52]:
submission.to_csv("submission.csv")

In [66]:
submission['target'] = xgbc.predict_proba(testdf)[:, 1]
submission.to_csv("submission_xgb.csv")