<a href="https://colab.research.google.com/github/Roudranil/competitions/blob/main/Kaggle/Tabular%20Playground%20March/tab_playground_mar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. *`libraries and dataset`*
---

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install catboost

In [ ]:
!pip install h2o

In [ ]:
!pip install optuna

In [ ]:
!pip install featuretools

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from xgboost import XGBClassifier as xgbc
from lightgbm import LGBMClassifier as lgbc
from catboost import CatBoostClassifier as ctbc

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, StackingClassifier
from sklearn.metrics import confusion_matrix as cm
from sklearn.metrics import classification_report as cr
from sklearn.metrics import auc, roc_auc_score

from sklearn.model_selection import KFold

import optuna
import featuretools as ft

In [ ]:
import h2o
h2o.init()

In [17]:
traindata = pd.read_csv('/content/drive/MyDrive/data/kaggle_tabplayground_mar/train.csv', index_col=0)
testdata = pd.read_csv('/content/drive/MyDrive/data/kaggle_tabplayground_mar/test.csv', index_col=0)
submission = pd.read_csv('/content/drive/MyDrive/data/kaggle_tabplayground_mar/sample_submission.csv', index_col=0)

In [24]:
traintest = pd.concat([traindata.drop(columns=['target']), testdata])

In [18]:
traindata.head()

   cat0 cat1 cat2 cat3 cat4  ...     cont7     cont8     cont9    cont10 target
id                           ...
0     A    I    A    B    B  ...  0.791921  0.815254  0.965006  0.665915      0
1     A    I    A    A    E  ...  0.408701  0.399353  0.927406  0.493729      0
2     A    K    A    A    E  ...  0.388835  0.412303  0.292696  0.549452      0
3     A    K    A    C    E  ...  0.897617  0.633669  0.760318  0.934242      0
4     A    I    G    B    E  ...  0.279167  0.351103  0.357084  0.328960      1

[5 rows x 31 columns]

In [19]:
traindata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300000 entries, 0 to 499999
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   cat0    300000 non-null  object
 1   cat1    300000 non-null  object
 2   cat2    300000 non-null  object
 3   cat3    300000 non-null  object
 4   cat4    300000 non-null  object
 5   cat5    300000 non-null  object
 6   cat6    300000 non-null  object
 7   cat7    300000 non-null  object
 8   cat8    300000 non-null  object
 9   cat9    300000 non-null  object
 10  cat10   300000 non-null  object
 11  cat11   300000 non-null  object
 12  cat12   300000 non-null  object
 13  cat13   300000 non-null  object
 14  cat14   300000 non-null  object
 15  cat15   300000 non-null  object
 16  cat16   300000 non-null  object
 17  cat17   300000 non-null  object
 18  cat18   300000 non-null  object
 19  cont0   300000 non-null  float64
 20  cont1   300000 non-null  float64
 21  cont2   300000 non-null  float64
 22  cont3   300000 non-null  float64
 23  cont4   300000 non-null  float64
 24  cont5   300000 non-null  float64
 25  cont6   300000 non-null  float64
 26  cont7   300000 non-null  float64
 27  cont8   300000 non-null  float64
 28  cont9   300000 non-null  float64
 29  cont10  300000 non-null  float64
 30  target  300000 non-null  int64
dtypes: float64(11), int64(1), object(19)
memory usage: 73.2+ MB

In [20]:
traindata.describe()

               cont0          cont1  ...         cont10         target
count  300000.000000  300000.000000  ...  300000.000000  300000.000000
mean        0.504749       0.494073  ...       0.508230       0.264870
std         0.206788       0.213037  ...       0.203393       0.441265
min        -0.049562       0.084480  ...       0.097789       0.000000
25%         0.344985       0.317363  ...       0.368312       0.000000
50%         0.479650       0.463170  ...       0.446576       0.000000
75%         0.637657       0.693992  ...       0.581957       1.000000
max         1.004559       1.009958  ...       1.011331       1.000000

[8 rows x 12 columns]

In [21]:
testdata.describe()

               cont0          cont1  ...          cont9         cont10
count  200000.000000  200000.000000  ...  200000.000000  200000.000000
mean        0.505388       0.493960  ...       0.469813       0.508974
std         0.207417       0.212695  ...       0.194999       0.203926
min        -0.044929       0.090478  ...       0.215540       0.113059
25%         0.344748       0.317788  ...       0.309888       0.368999
50%         0.479633       0.463195  ...       0.407066       0.446578
75%         0.638773       0.693882  ...       0.588008       0.583082
max         1.006825       1.011597  ...       1.007189       1.007168

[8 rows x 11 columns]

#2. *`EDA`*
---

#3. *`encodings`*
---

#4. *`training`*
---

In [26]:
X = traindata.drop(columns=['target'])
y = traindata['target']

In [27]:
lr = LogisticRegression()
lr.fit(X, y)
pred = lr.predict_proba(X)[:, 1]
roc_auc_score(y, pred)

ValueError: ignored

#5. *`submission`*
---